body {
    background-color: #FFF1E5;
    background-image: url("./assets/texture7.png");
    word-wrap: break-word;
    text-align: justify;
    text-justify: inter-word;
    overflow-x: hidden;
    font-family: "Lora";
}

h1 {
    color: black;
    text-align: center;
    font-family: 'Montserrat';
}

h2, h3, h4 {
    text-align: left;
    font-family: "Montserrat";
}

.ensemble {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-shadow: -1px 0 #fff8e8, 0 1px #fff8e8, 1px 0 #fff8e8, 0 -1px #fff8e8;
}

.navbar {
    background-color: #922724;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 1px solid black;
}

.navbar-brand {
    color: #fff8e8 !important;
}

.active {
    color: #fff8e8 !important;
}

.body-container {
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid black;
    background-color: #e5d5b2;
    box-shadow: 7px 7px 5px;
}

.bio-image {
    margin: 20px 20px 5px 0px;
    width: 40%;
}

.bio-text {
    margin-top: 15px;
}

.image-text-wrapper {
    column-count: 2;
    column-gap: 50px;
    padding: 50px;
}

.fb-desktop {
    display: block !important;
    margin-right: 20px auto !important;
}

.fb-mobile {
    display: none !important;
}

.fb-mobile p {
    text-align: center;
}

.youtube-outer-block {
    margin-top: 40px;
    margin-bottom: 40px;
}

.youtube-inner-block{
    width: 80%;
    margin: 0 auto;
}

.youtube {
    width: 100%;
}

.social {
    border: 1px solid black;
}

.card {
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 2px 2px 5px;
    background-color: #fff8e8;
}

.card-header {
    color: #fff8e8;
    background-color: #922724;
}

.fa {
    margin-right: 10px;
}

.card-title {
    font-weight: bold;
}

ul {
    text-align: left;
}

.calendar-list {
    list-style-type: none;
}

.parallax {
    min-height: 400px;
    height: 65vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    border-bottom: 2px solid black;
}

#parallax1 {
    background-image: url("./assets/highres/west-wind.jpg");
}

#parallax2 {
    background-image: url("./assets/highres/john-lisa-kathryn-closeup.jpeg");
}

#parallax3 {
    background-image: url("./assets/highres/laura-margaret-terry-closeup.jpeg");
}

#parallax4 {
    background-image: url("./assets/highres/terry-and-kathryn-crop.jpeg");
}

#parallax5 {
    background-image: url("./assets/highres/curtains2-grey-crop.jpg");
}

#parallax6 {
    background-image: url("./assets/highres/curtains-no-colour-crop.jpeg");
}

#parallax7 {
    background-image: url("./assets/tom-thomson-crop.jpg");
}

#parallax8 {
    background-image: url("./assets/highres/sonic-palette-audience.jpg");
}

.unselectable {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

.img-fluid {
    margin-bottom: 25px;
}

.img-hover-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#sonic-palette-cd-link-home {
    width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.img-hover-container:hover .img-hover {
    opacity: 0.3;
}
  
.img-hover-container:hover .img-hover-middle {
    opacity: 1;
}

.img-hover {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.img-hover-middle {
    transition: .3s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

a:hover {
    text-decoration: none;
}

.btn {
    font-family: 'Montserrat';
}

@media(max-width: 992px) {
    .parallax {
        height: auto;
        min-height: 325px;
        background-attachment: scroll;
    }

    .fb-desktop {
        display: none !important;
    }

    .fb-mobile {
        display: block !important;
    }
}

@media(max-width: 576px) {
    .body-container {
        box-shadow: 2px 2px 4px;
        width: 90%;
    }

    .ensemble {
        margin-left: 0px;
        margin-right: 0px;
    }

    .card-header {
        text-align: left;
    }

    .card-title {
        text-align: left;
    }
    
    .parallax {
        min-height: 165px;
    }

    .section-header {
        text-align: center;
    }

    .bio-image {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        float: none !important;
        display: block;
    }

    .bio-name {
        text-align: center;
    }

    .calendar-list {
        margin-top: 20px;
    }

    .youtube-inner-block {
        width: 100%;
    }
}

@media (min-width: 576px) {
    @media (max-width: 992px) {
        .navbar-brand {
            position: absolute;
            margin-top: 10px;
            top: 0%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}